.news-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.part-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../Images/img/bg-img.png');
    width: 100%;
    height: 100%;
}

.extra img {
    transition: transform 1s ease-in-out;

}

.extra img:hover {
    transform: rotateY(180deg);
}

.form-div {
    background-color: rgb(6, 0, 12);
}

@media only screen and (max-width: 700px) {
    .news-card {
        grid-template-columns: 1fr;
    }
}